.todo-wrap {

}

.todo-body {
    padding: 14px;
    margin: 0 auto;
    max-width: 900px;
}

.todo-header-wrap {

}

.todo-header-body {

}

.todo-header-body p {
    color: #ffccff;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
}

.todo-items-wrap {

}

.todo-items-body {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.todo-item {
    background-color: white;
    padding: 16px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.edit-item {
    padding: 0 1px 0 16px;
}

.todo-item > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding-left: 16px;
}

.complete-item {
    color: #dedede;
    text-decoration: line-through;
}


.todo-items-action-wrap {

}


.todo-items-action-body {
    border: 1px solid #cccccc;
    padding: 14px;
    color: #828282;
    background-color: white;
    font-size: 15px;
    font-weight: 400;
}
